// 定义主题颜色
$accentColor = #ffc901 // 浅红色
$textColor = #333333 // 文字颜色

// 修改默认颜色
$accentColorDefault = $accentColor
$textColorDefault = $textColor

// 调整导航栏和侧边栏的颜色
$navbarBackgroundColor = $accentColor
$sidebarBackgroundColor = $accentColor

// 修改代码块颜色
$codeBgColor = #fcdcdb
